[package]
name = "zigbee-macros"
version = "0.1.0"
authors.workspace = true
repository.workspace = true
readme.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]

[dev-dependencies]
byte.workspace = true
